<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <header>
        <%- include('header',{title:title,isUserLoggedIn: false, name:""}); %>
    </header>
    <main>
        <div class="jumbotron">
            <% if(error.length> 0){ %>
                <div><strong class="text-red">
                        <%= error %>
                    </strong></div>
                <% } %>
                    <form class="form" action="/login" method="post">
                        <input class="form-input" type="email" name="email" aria-label="Email" placeholder="Email">
                        <br />
                        <input class="form-input" type="password" name="password" aria-label="Password"
                            placeholder="Password"> <br />
                        <input class="form-button" type="submit" name="submit" aria-label="submit"> / <a
                            href="/register" class="register">Register</a> <br />
                    </form>
                    <% if(message.length> 0){ %>
                        <div><strong class="text-success">
                                <%= message %>
                            </strong></div>
                        <% } %>
        </div>
    </main>
    <footer>
        <%- include('footer'); %>
    </footer>
</body>

</html>