<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); %>
</head>

<body>
    <header>
        <%- include('header',{title:title,isUserLoggedIn: isUserLoggedIn, name:""}); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>
                Welcome Back <%= username %>
            </h1>
        </div>
        <% if(error.length> 0){ %>
            <div><strong class="text-red">
                    <%= error %>
                </strong></div>
            <% } %>
                <form class="form" action="/user/changePassword" method="post">
                    <input class="form-input" type="password" name="currentPassword" aria-label="Current Password" placeholder="Current Password">
                    <br />
                    <input class="form-input" type="password" name="newPassword" aria-label="New Password"
                        placeholder="New Password"> <br />
                    <input class="form-button" type="submit" name="submit" aria-label="Change Password">
                </form>
                <form class="form" action="/user/updateUserName" method="post">
                    <input class="form-input" type="text" name="newName" aria-label="Enter New User Name" placeholder="Enter New UserName">
                    <br />
                    <input class="form-button" type="submit" name="submit" aria-label="Update Username">
                </form>
                <form class="form" action="//user/user/deleteUser" method="post">
                    <input class="form-input" type="password" name="password" aria-label="Confirm Password" placeholder="Confirm Password">
                    <br />
                    <input class="form-button" type="submit" name="submit" aria-label="DeActivate">
                </form>
                <% if(message.length> 0){ %>
                    <div><strong class="text-success">
                            <%= message %>
                        </strong></div>
                    <% } %>
    </main>

    <footer>
        <%- include('footer'); %>
    </footer>
</body>

</html>